{% extends "AppVet/index.html" %} {% load static %} {% block titulo %}
<h1 class="mb-5">Contacto</h1>
{% endblock %} {% block contenido_que_cambia %}
<!-- Hero Area Start -->
<div class="slider-area2 slider-height2 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="hero-cap text-center pt-50">
          <h2>Contacto</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Area End -->
<!-- About Details Start -->
<div class="about-details section-padding30">
  <div class="container">
    <div class="row">
      <div class="offset-xl-1 col-lg-8">
        <div class="about-details-cap mb-50">
          <h4>ACA VA EL FORMULARIO DE CONTACTO</h4>
          <p>asd</p>
          <p>VER SI PUEDO PONER MAPA DE GOOGLE.</p>
          <p>asd</p>
          <p>asda</p>
        </div>

        <div class="about-details-cap mb-50">
          <h4>Lasdasdsa:</h4>
          <p>Tasdasdasdsa</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Details End -->
{% endblock %}
