{% extends "AppVet/index.html" %} {% load static %} {% block titulo %}
<h1 class="mb-5">Contacto</h1>
{% endblock %} {% block contenido_que_cambia %}
<!-- Hero Area Start -->
<div class="slider-area2 slider-height2 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="hero-cap text-center pt-50">
          <h2>Servicios</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Area End -->
<!--? Our Services Start -->
<div class="our-services section-padding30">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="cl-xl-7 col-lg-8 col-md-10">
        <!-- Section Tittle -->
        <div class="section-tittle text-center mb-70">
          <span>Nuestros servicios profesionales.</span>
          <h2>Servicios de PetCare</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services text-center mb-30">
          <div class="services-ion">
            <span class="flaticon-animal-kingdom"></span>
          </div>
          <div class="services-cap">
            <h5><a>Hotel de Mascotas</a></h5>
            <p>
              Tenes que viajar y no podes llevarlos con vos? No te preocupes
              nosotros tenemos una guarderia para ellos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services text-center mb-30">
          <div class="services-ion">
            <span class="flaticon-animals"></span>
          </div>
          <div class="services-cap">
            <h5><a>Tratamiento de mascotas</a></h5>
            <p>
              Los mejores veterinarios para tratar cualquier enfermedad o
              problema.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services text-center mb-30">
          <div class="services-ion">
            <span class="flaticon-animals-1"></span>
          </div>
          <div class="services-cap">
            <h5><a>Vacunación</a></h5>
            <p>
              Protégelos contra las enfermedades. Contamos con todas las vacunas
              del calendario.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services text-center mb-30">
          <div class="services-ion">
            <span class="flaticon-animals"></span>
          </div>
          <div class="services-cap">
            <h5><a>Chequeo General</a></h5>
            <p>Chequeos y controles generales para tus mascotas.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services text-center mb-30">
          <div class="services-ion">
            <span class="flaticon-animals-1"></span>
          </div>
          <div class="services-cap">
            <h5><a>Análisis </a></h5>
            <p>Análisis de sangre y en general para tus mascotas.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services text-center mb-30">
          <div class="services-ion">
            <span class="flaticon-animal-kingdom"></span>
          </div>
          <div class="services-cap">
            <h5><a>Peluquería Animal</a></h5>
            <p>
              Contamos con profesionales para el cuidado del pelo y el look de
              tu mascota..
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Services End -->
{% endblock %}
