<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>PetCare - Iniciar Sesion</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'App/assets/css/login.css' %}"
    />
    <body>
      <section class="login">
        <div class="login_box">
          <div class="left">
            <div class="top_link">
              <a href="{% url 'login' %}">Iniciar Sesion!</a>
            </div>
            <div class="contact">
              <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <h3>Iniciar Sesion</h3>
                <table>
                  {{ formulario.as_table }}
                </table>
                <h3>{{ mensaje }}</h3>
                <button class="submit" type="submit">CREAR USUARIO</button>
              </form>
            </div>
          </div>
          <div class="right">
            <div class="right-text">
              <h2>PetCare</h2>
              <h5>Tu Mascotas, en las Mejores Manos!</h5>
            </div>
          </div>
        </div>
      </section>
    </body>
  </head>
</html>
