{% extends "AppVet/App/app_admin.html" %} {% load static %} {% block titulo %}
<h1 class="mb-5">Inboxs!</h1>
{% endblock %} {% block contenido_que_cambia %}
<h2 style="font-family: cursive">Seccion Contacto WEB:</h2>
<br />
<br />
<h4 style="font-family: cursive">Lista de Consultas WEB:</h4>
{% if busquedaMensajeContacto %}
<table>
  <tr>
    <h3>
      <th width="30"><p align="center">Fecha Envio</p></th>
      <th width="20px"><p align="center"></p></th>
      <th width="30"><p align="center">Hora Envio</p></th>
      <th width="20px"><p align="center"></p></th>
      <th width="20"><p align="center">Enviado Por</p></th>
      <th width="20px"><p align="center"></p></th>
      <th width="30"><p align="center">Telefono Contacto</p></th>
      <th width="20px"><p align="center"></p></th>
      <th width="10"><p align="center">Mensaje</p></th>
    </h3>
  </tr>

  {% for mensaje in busquedaMensajeContacto %}

  <tr>
    <h3>
      <td width="20"><p align="center">{{mensaje.fechaMensaje}}</p></td>
      <th width="20px"><p align="center"></p></th>
      <td width="50"><p align="center">{{mensaje.horaMensaje}}</p></td>
      <th width="20px"><p align="center"></p></th>
      <td width="50">
        <p align="center">{{mensaje.nombreContacto}}</p>
      </td>
      <th width="20px"><p align="center"></p></th>
      <td width="50px"><p align="center">{{mensaje.telefonoContacto}}</p></td>
      <th width="100px"><p align="center"></p></th>
      <th width="20px"><p align="center"></p></th>
      <td width="50px"><p align="center">{{mensaje.mensajeContacto}}</p></td>
      <th width="100px"><p align="center"></p></th>
    </h3>
       <p align="center">
        <a
          class="btn btn-danger"
          href="{% url 'inicioMsj'%}"
        >
          Volver
        </a>
      </p>
    </td>
  </tr>
  </tr>

  <br />
  {% endfor %} {% else %}
</table>
<br>
<br>
<h4 style="font-family: cursive">No se encontraron Mensajes!</h4>
<br>
<p align="center">
  <a class="btn btn-warning" href="{% url 'appAdmin' %}">Volver</a>
</p>


{% endif %} {% endblock %}
