{% extends "AppVet/App/app_admin.html" %} {% load static %} {% block titulo %}
<h1 class="mb-5">Busqueda de Veterinario!</h1>
{% endblock %} {% block contenido_que_cambia %}

<h1>Resultado Busqueda</h1>
{% if veterinarios %}
<ul>
  {% for veterinario in veterinarios %}

  <h4>
    {{veterinario.id}} - {{veterinario.nombreVet}}, {{veterinario.apellidoVet}}.
    {{veterinario.fechaNacimientoVet}} {{veterinario.matriculaVet}}
    {{veterinario.emailVet}} {{veterinario.telefonoVet}}
    <a
      class="btn btn-danger"
      href="{% url 'eliminarVeterinario' veterinario.id %}"
    >
      Eliminar
    </a>
    <a
      class="btn btn-success"
      href="{% url 'modificarVeterinario' veterinario.id %}"
    >
      Editar
    </a>
  </h4>

  <br />
  {% endfor %}
</ul>

{% else %}

<p>No se encontraron Veterinarios</p>

{% endif %} {% endblock %}
