{% extends "AppVet/App/app_admin.html" %} {% load static %} {% block titulo %}
<h1 class="mb-5">Busqueda de Mascotas!</h1>
{% endblock %} {% block contenido_que_cambia %}

<h2 style="font-family: cursive">
  Se encontraron las siguientes Historias Clinicas:
</h2>
<br />

{% if hclinica %}
<table>
  <tr>
    <h3>
      <th width="20px"style="font-family: cursive"><p align="center">ID</p></th>
      <th width="20px"><p align="center"></p></th>
      <th width="30"style="font-family: cursive"><p align="center">Fecha Consulta</p></th>
      <th width="20px"><p align="center"></p></th>
      <th width="30"style="font-family: cursive"><p align="center">Nombre</p></th>
      <th width="10">
   
      <th width="30"style="font-family: cursive"><p align="center">Veterinario</p></th>
      <th width="10">
      <p align="center"></p>
      </th>
      <th width="10">
        <p align="center"></p>
      </th>
    </h3>
  </tr>
  {% for clinica in hclinica %}
  <tr>
  <h3>
    <td width="20"><p align="center">{{clinica.id}}</p></td>
    <th width="20px"><p align="center"></p></th>
    <td width="50">
      <p align="center">{{clinica.fechaConsulta}}</p>
    </td>
    <th width="20px"><p align="center"></p></th>
    <td width="50">
      <p align="center">{{clinica.nombreMascota}}</p>
    </td>

    <th width="50px"><p align="center"></p></th>
    <td width="50"><p align="center">{{clinica.veterinarioMascota}}</p></td>
    <th width="20px"><p align="center"></p></th>
        <th width="20px"><p align="center"></p></th>
        <td width="50">
          <p align="center">
            <a class="btn btn-success" href="{% url 'historiaClinica' clinica.id %}">Ver Historia Clinica</a>
          </p>
        </td>
        <td width="50">
      <p align="center">
        <a
          class="btn btn-danger"
          href="{% url 'eliminarClinica' clinica.id %}"
        >
          Eliminar
        </a>
      </p>
    </td>

    <td width="50">
      <p align="center">
        <a class="btn btn-warning" href="{% url 'inicioClinica' %}">Volver</a>
      </p>
    </td>


  <br />
  {% endfor %} {% else %}
</table>



<h4 style="font-family: cursive">No se encontraron Historias Clinicas!</h4>
<br>
<p align="center">
  <a class="btn btn-warning" href="{% url 'inicioClinica' %}">Volver</a>
</p>

{% endif %} {% endblock %}