{% extends "AppVet/App/app_admin.html" %} {% load static %} {% block titulo %}
<h1 class="mb-5">Busqueda de Mascotas!</h1>
{% endblock %} {% block contenido_que_cambia %}

<h2 style="font-family: cursive">
  Se encontraron las siguientes Mascotas:
</h2>
<br />

{% if mascotas %}
<table>
  <tr>
    <h3>
      <th width="20px"style="font-family: cursive"><p align="center">ID</p></th>
      <th width="20px"><p align="center"></p></th>
      <th width="30"style="font-family: cursive"><p align="center">Nombre</p></th>
      <th width="20px"><p align="center"></p></th>
      <th width="30"style="font-family: cursive"><p align="center">Raza</p></th>
      <th width="10">
      <th width="30"style="font-family: cursive"><p align="center">Especie</p></th>
      <th width="10">
      <th width="30"style="font-family: cursive"><p align="center">Fecha De Nacimiento </p></th>
      <th width="10">
      <th width="30"style="font-family: cursive"><p align="center">Dueño Mascota </p></th>
      <th width="10">
        <p align="center"></p>
      </th>
      <th width="10">
        <p align="center"></p>
      </th>
    </h3>
  </tr>
  {% for mascota in mascotas %}
  <tr>
  <h3>
    <td width="20"><p align="center">{{mascota.id}}</p></td>
    <th width="20px"><p align="center"></p></th>
    <td width="50">
      <p align="center">{{mascota.nombreMascota}}</p>
    </td>
    <th width="20px"><p align="center"></p></th>
    <td width="50">
      <p align="center">{{mascota.razaMascota}}</p>
    </td>
    <th width="20px"><p align="center"></p></th>
    <td width="50">
      <p align="center">{{mascota.especieMascota}}</p>
    </td>
    <th width="20px"><p align="center"></p></th>
    <td width="50"><p align="center">{{mascota.fechaNacimientoMascota}}</p></td>
    <th width="20px"><p align="center"></p></th>
    <td width="50">
      <p align="center">{{mascota.apellidoPropietarioMascota}}</p>
    </td>
        <th width="20px"><p align="center"></p></th>
    <td width="50">
      <p align="center">
        <a
          class="btn btn-danger"
          href="{% url 'eliminarMascota' mascota.id %}"
        >
          Eliminar
        </a>
      </p>
    </td>
    <td width="50">
      <p align="center">
        <a
          class="btn btn-success"
          href="{% url 'modificarMascota' mascota.id %}"
        >
          Editar
        </a>
      </p>
    </td>
    <td width="50">
      <p align="center">
        <a class="btn btn-warning" href="{% url 'inicioMascota' %}">Volver</a>
      </p>
    </td>
  </tr>

  <br />
  {% endfor %} {% else %}
</table>



<p>No se encontraron Mascotas!</p>
<p align="center">
  <a class="btn btn-warning" href="{% url 'inicioMascota' %}">
    Volver
  </a>
</p>

{% endif %} {% endblock %}
