{% extends "AppVet/App/app_admin.html" %} {% load static %} {% block titulo %}

{% endblock %} {% block contenido_que_cambia %}
<h1 style="font-family: cursive">Editar Cliente</h1>
<br />
<h3 style="font-family: cursive">Editando el cliente: {{ propietario.nombrePropietario }} {{ propietario.apellidoPropietario }}</h3>
</h3>
<br />
<br />
<form action="{% url 'modificarPropietario' propietario.id %}" method="POST">
  {% csrf_token %}

  <table>
    {{ formularioPropMod.as_table }}
  </table>
  <table>
    <tbody>
      <tr>
        <td>   <input type="submit"  class="btn btn-success" value="Guardar" /></td>
        <th>
          <a class="btn btn-danger" href="{% url 'inicioPropietario' %}">Cancelar</a>
        </th>
      </tr>
    </tbody>
   
    
  </table>
</form>

{% endblock %}
